<tr>
  <td>
     <% if can? :show, @subtask %>
     <%=link_to subtask.title , project_task_subtask_path(@project,@task,subtask) %>
     <%else%>
     <%= subtask.title %>
     <%end%>
   </td>
  <td><%= subtask.description %></td>
  <% if can? :begin, @subtask %>
  <td><%if subtask.complete?(current_user) %>
        <i class="icon-ok"></i>
      <%else%>
      <i class="icon-remove"></i>
      <%end%> 
  </td>
  <%end%>
  <td>
    
    <% if can? :destroy,:edit, @subtask %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                project_task_subtask_path(@project,@task,subtask),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_task_subtask_path(@project,@task,subtask), :class => 'btn' %>
    <%else%>
      <%if subtask.complete?(current_user)%>
        <%=link_to raw("<i class=' icon-eye-open'></i> edit") , project_task_subtask_end_path(@project,@task,subtask), :class => 'btn btn-primary'%>
      <%elsif subtask.finished?(current_user) %>
        <%=link_to raw("<i class='icon-question-sign'></i> respond") , project_task_subtask_end_path(@project,@task,subtask), :class => 'btn btn-warning'%>
      <%elsif subtask.begin?(current_user)%>
        <%= link_to raw("<i class=' icon-thumbs-up'></i> end"),
              project_task_subtask_end_path(@project,@task,subtask),
               :class => "btn btn-warning",
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
      <%else%>
        <%=link_to raw("<i class='icon-hand-right '></i> begin") , project_task_subtask_begin_path(@project,@task,subtask),
         :class => 'btn btn-success',
         :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
      <%end%>
    <%end%>
  </td>
</tr>
